
  <div class="card m-0">
    <div class="card-body">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-striped table row-border hover">
        <thead class="text-start">
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody class="text-start">
          <tr *ngFor="let user of users">
            <td>{{ user.firstName }} {{ user.middleName }} {{ user.lastName }}</td>
            <td>{{ user.username }}</td>
            <td> <button class="back py-2">View</button> </td>
          </tr>
        </tbody>
      </table> 
    </div>
  </div>
