.back{
    background-color: #0f7173;
}

li:hover {
    background-color: hwb(0 88% 12%);
    width: 100%;
    color: #0f7173 !important;
    border-radius: 8px;
}

li:hover a {
    color: #0f7173 !important;
}

  fa-icon {
    color: white;
  }