<aside *ngIf="isSidebarOpen" [ngClass]="{ 'active': isSidebarOpen }">
<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 back">

  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start w-100" id="menu">
      
      <li class="mt-2">
          <a class="nav-link px-0 align-middle" routerLink="/users/list">
            <fa-icon class="mr-2" [icon]="faUser"></fa-icon>
            <span class="text-white ms-1 d-none d-sm-inline">Users List</span></a>
      </li>
      <li class="mt-2">
          <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle" routerLink="/users/create">
            <fa-icon class="mr-2" [icon]="faUserPlus"></fa-icon>
            <span class="ms-1 d-none d-sm-inline text-white">Create User</span> </a>
          
      </li>
  </ul>
  <hr>
  <div class="dropdown pb-4">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
         <span class="d-none d-sm-inline mx-1">Watitwa</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">Log out</a></li>
      </ul>
  </div>
</div>
</aside>